* {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100px;
  height: auto;
  text-align: center;
  border: 1px solid black;
  color: darkslategray;
  padding: 0.8% 0.5%;
  box-sizing: border-box;
  border-radius: 100px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: darkslategray;
  list-style: none;
}

footer {
  height: 90px;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: darkslategray;
  border: 1px solid black;
  font-weight: 500;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.dogs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin: 0 auto;
}

li .dogs-img {
  width: 60%;
  height: auto;
}

.likes {
  margin-right: 0;
}

.comment-btn {
  width: 60%;
  height: 30px;
  font-size: 25px;
  background-color: transparent;
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

ul li {
  list-style: none;
  width: 30%;
}

/* reservation */

.reserve-btn {
  width: 80%;
  height: 30px;
  font-size: 25px;
  background-color: transparent;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserve-modal {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5%;
  top: 5%;
  bottom: 5%;
  left: 10%;
  right: 10%;
  width: auto;
  height: auto;
  padding: 3%;
  border: 1px solid #6d95c7;
  border-radius: 1%;
  background-color: #6d95c7;
  overflow-y: scroll;
  z-index: 99;
}

.dog-image {
  width: 70%;
  height: auto;
  border-radius: 1.5%;
}

.reserve-data {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.reserve-form {
  width: 70%;
  margin: 2% auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.2rem;
}

.username, .startdate, .enddate {
  width: 60%;
  padding: 2%;
  border-radius: 1%;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  border: none;
  box-shadow: 1px 1px 3px #000;
}

.submit {
  width: 30%;
  padding: 1%;
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 1.2rem;
  box-shadow: 4px 6px 3px #000;
}
